<footer><div class="footer-content">
  <p>&copy; 2024 FilmiDuniya. All rights reserved.</p>
  <ul class="footer-links">
      <li><a routerLink="/privacy" routerLinkActive="active">Privacy Policy</a></li>
      <!-- <li><a routerLink="/term" routerLinkActive="active">Terms of Service</a></li> -->
      <li><a routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
  </ul>
</div>
<div class="text-right"><p class="text-end text-danger" >* This Site is build form only educational Purpose</p></div>
</footer>
